@import "../utilities/mixins";
@import "../utilities/colors";
@import "../utilities/fonts";
@import "../utilities/breakpoints";

.header {
  padding: 2rem;
}

.nav-desktop {
  @include flex(space-evenly, center);

  @media (max-width: $large) {
    display: none;
  }

  &__logo {
    max-width: 6%;
  }

  &__links {
    display: flex;
  }

  &__link {
    font-family: "spartan-bold", sans-serif;
    font-size: clamp(0.8rem, calc(10px + 0.3vw), 1.2rem);
    margin: 0 1rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.btn-cta {
  @include btn-hover($secondary-clr, $primary-clr, $primary-clr);
}
