@import "../utilities/colors";
@import "../utilities/mixins";
@import "../utilities/breakpoints";

// skip to content - screen readers

.visible-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visible-hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}

// General styles and resusable classes

html {
  scroll-behavior: smooth;
}

body {
  font-family: "spartan-light", sans-serif;
  font-size: 62.5%; // root font size 10px
  color: $text-clr;
  letter-spacing: 1px;
  line-height: 1.8;

  background-color: $secondary-clr;
}

.heading {
  font-family: "spartan-bold", sans-serif;
  font-size: clamp(1.5rem, 12px + 1.2vw, 2.5rem);
  letter-spacing: 0;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

.btn {
  position: relative;
  display: inline-block;
  font-family: "spartan-bold", sans-serif;
  font-size: 0.8rem;
  color: $secondary-clr;
  background-color: $primary-clr;
  padding: 0.5rem 0.8rem;
  border: 2px solid $primary-clr;
  border-radius: 0.7rem;
  @include transition(all, 0.4s, ease-in-out);
  cursor: pointer;
}

.btn-info {
  background-color: $reviews;
  @include btn-hover($secondary-clr, $reviews, $reviews);
}

.btn-chevron {
  font-size: clamp(0.5rem, calc(10px + 0.2vw), 0.8rem);
  padding: 0.5rem 2.3rem;
  @include btn-hover($secondary-clr, $primary-clr, $primary-clr);

  &::after {
    content: url("/assets/icons/chevron-right.svg");
    position: absolute;
    margin: 0.15rem 0.5rem;
    @include transition(margin, 0.3s, linear);
  }

  &:hover::after {
    content: url("/assets/icons/chevron-right2.svg");
    margin-left: 1.2rem;
    @include transition(margin, 0.3s, linear);
  }

  @media (max-width: $large) {
    padding: 0.3rem 0.5rem;

    &::after {
      display: none;
    }
  }
}

small {
  font-size: 0.9rem;
}

.aspect-ratio {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.display-none {
  display: none;
}
