@import "../utilities/breakpoints";
@import "../utilities/mixins";
@import "../utilities/colors";

.container {
  max-width: 70%;
  margin: 0 auto;
  padding: 5rem 0 0;

  @media (max-width: $large) {
    max-width: 90%;
  }

  @media (min-width: $ultra) {
    max-width: 60%;
  }
}

.row,
.col-3,
.col-4 {
  margin: 4rem 0;
  padding: 3rem 0;

  @media (max-width: $small) {
    margin: 0;
    padding: 2rem 0;
  }
}

.row {
  display: flex;
  gap: 3vw;

  @media (max-width: $xl) {
    flex-direction: column;
    padding: 2rem 0;

    .col-1 {
      order: 1;
    }
  }
}

.col-2 {
  position: relative;
}

.col-2,
.col-1 {
  width: 100%;
  flex-basis: 50%;
  align-self: center;
}

.paragraph {
  font-size: clamp(0.6rem, 0.5rem + 0.3vw, 1rem);
  font-weight: bold;
  margin-bottom: 2rem;
}

.wrapper {
  position: absolute;
  top: 30%;
  left: 10%;
  max-width: 45%;
}

.card-heading {
  font-size: clamp(0.7rem, 0.7rem + 1vw, 1.1rem);
  line-height: 1.5;
}

.col-3 {
  @include flex(center, center);
  flex-direction: column;
  text-align: center;

  & * {
    margin: 1rem 0;
  }

  &-img {
    max-width: 60%;
  }
}

.col-4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  & .mobile-only {
    @media (min-width: $small) {
      display: none;
    }
  }

  @media (max-width: $xl) {
    grid-template-columns: 1fr;
  }

  &-review {
    position: relative;
    grid-column: 1/3;
    grid-row: span 2;

    @media (max-width: $xl) {
      grid-column: 1;
      grid-row: 1;
    }

    & .paragraph {
      font-size: 1.1rem;
    }

    .card-img-big {
      @media (max-width: $small) {
        display: none;
      }
    }

    & .wrapper {
      top: 15%;
      left: 5%;
      text-align: center;

      @media (max-width: $small) {
        display: none;
      }

      @media (max-width: $medium) {
        top: 15%;
      }

      @media (min-width: $xxl) {
        max-width: 50%;
        top: 25%;
      }

      & * {
        margin: 0.7rem 0;
      }
    }
  }

  &-card {
    position: relative;
    @include flex(center, center);
    flex-direction: column;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    @media (max-width: $xl) {
      min-height: 20vh;
    }

    &:nth-child(1) {
      grid-column: 3/4;
      grid-row: 1;

      @media (max-width: $xl) {
        grid-column: 1;
      }
    }

    &:nth-child(2) {
      grid-column: 3/4;
      grid-row: 2;

      @media (max-width: $xl) {
        grid-column: 1;
      }
    }

    .card-heading {
      text-align: center;
    }
  }
}

.mobile-card {
  &-img {
    margin: 1rem;
  }

  .paragraph,
  small {
    position: absolute;
    left: 10%;
    font-size: 0.9rem;

    @media (max-width: $x-small) {
      font-size: 0.7rem;
      left: 13%;
    }
  }

  .paragraph {
    top: 36%;

    @media (max-width: $x-small) {
      top: 25%;
    }
  }

  small {
    top: 30%;

    @media (max-width: $x-small) {
      top: 30%;
    }
  }
}
