@import "../utilities/colors";
@import "../utilities/mixins";
@import "../utilities/breakpoints";

.hero {
  width: 100%;
  height: calc(100vh - 116px); // 116 - header height
  background-image: url("/assets/webp/hero.webp"), url("/assets/png/hero-fallback.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center, center;

  @include flex(center, center);
  flex-direction: column;

  &-heading {
    font-size: clamp(1.5rem, calc(10px + 2vw), 2.5rem);
    color: $secondary-clr;
    margin-bottom: 1rem;
  }

  &-btn {
    padding: 0.7rem 3.5rem;

    &:hover {
        // @include transition();
    }
  }
}
