@import "../utilities/colors";
@import "../utilities/mixins";

// skip to content - screen readers

.visible-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visible-hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}

// General styles and resusable classes

html {
  scroll-behavior: smooth;
}

body {
  font-family: "spartan-light", sans-serif;
  font-size: 62.5%; // root font size 10px
  color: $text-clr;
  letter-spacing: 1px;
  line-height: 1.8;

  background-color: $secondary-clr;
}

.heading {
  font-family: "spartan-bold", sans-serif;
  font-size: clamp(1.4rem, 12px + 1.5vw, 1.6rem);
}

.btn {
  position: relative;
  display: inline-block;
  font-family: "spartan-bold", sans-serif;
  font-size: 0.8rem;
  color: $secondary-clr;
  background-color: $primary-clr;
  padding: 0.5rem 0.8rem;
  border: 2px solid $primary-clr;
  border-radius: 0.7rem;
  cursor: pointer;
  @include transition(all, 0.3s, ease-in-out);

  &:hover {
    background-color: $secondary-clr;
    color: $primary-clr;
    border: 2px solid $primary-clr;
    @include transition(all, 0.3s, ease-in-out);
  }
}

.btn-chevron {
  &::after {
    content: url("/assets/icons/chevron-right.svg");
    position: absolute;
    margin-left: 0.5rem;
  }
}
